# --- Secrets ---
# Never commit the .env file
.env

# --- Build ---
# Ignore the build directory and compiled binaries
/build
app
*.exe

# --- IDEs ---
.idea/

# --- Temp Files ---
learn_setup_project.md
todo_learn.md